*, ::before, ::after{margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
img{vertical-align: bottom;}
ul{list-style: none;}
body{margin-bottom: 20px;}

@font-face {
    font-family: psb;
    src: url('fonts/Poppins-SemiBold.woff2');
}
@font-face {
    font-family: ab;
    src: url('../fonts/Archivo-Bold.woff2');
}
@font-face {
    font-family: nr;
    src: url('../fonts/Nunito-Regular.woff2');
}
@font-face {
    font-family: msb;
    src: url('../fonts/Montserrat-Bold\ \(3\).woff2');
}
@font-face {
    font-family: msr;
    src: url('../fonts/Montserrat-Regular.woff');
}
@font-face {
    font-family: nsb;
    src: url('../fonts/nunito-semibold.woff2');
}
@font-face {
    font-family: cr;
    src: url('../fonts/Calistoga-Regular.woff2');
}

h1,h2,h3,h4,h5{font-family: ab;}
a{font-family: msb;}
p{font-family: nr;}
strong{font-family: cr;}
button{cursor: pointer;}

.container{max-width: 1350px; margin: auto; padding: 0 15px;}
.row{ margin: 0 -15px; display: flex; display: -ms-flexbox; flex-flow: row wrap; -ms-flex-flow: row wrap;}
.row [class^="col-"]{padding: 0 15px; min-height: 1px; flex: auto;}

.row .col-1{flex: 1 1 8.33%; max-width: 8.33%;}
.row .col-2{flex: 1 1 16.66%; max-width: 16.66%;}
.row .col-3{flex: 1 1 25%; max-width: 25%;}
.row .col-4{flex: 1 1 33.33%; max-width: 33.33%;}
.row .col-5{flex: 1 1 41.66%; max-width: 41.66%;}
.row .col-6{flex: 1 1 50%; max-width: 50%;}
.row .col-7{flex: 1 1 58.33%; max-width: 58.33%;}
.row .col-8{flex: 1 1 66.66%; max-width: 66.66%;}
.row .col-9{flex: 1 1 75%; max-width: 75%;}
.row .col-10{flex: 1 1 83.33%; max-width: 83.33%;}
.row .col-11{flex: 1 1 91.66%; max-width: 91.66%;}
.row .col-12{flex: 1 1 100%; max-width: 100%;}

/* body{background: rgb(95, 94, 94);} */
.wrap-1 .container{background: url('../images/background.jpg') no-repeat center top/cover;  }
.wrap-1 .logo{ margin: 20%;}
.wrap-1 .navbar  ul{ display: flex; justify-content:space-around; background: rgba(0, 0, 0, 0.2); padding: 8% 0 12px 0;}
.wrap-1 .navbar ul li a{ color: #fff; padding: 10px 30px ;text-transform: uppercase; }
.wrap-1 .navbar a:hover{background: #f64b3c; border-radius: 50px;}
.wrap-1 .navbar ul li:hover{ transform:   scale(1.2);  }
.wrap-1 header h1{ color: #fff; text-transform: uppercase; font-size:  425%; margin-top: 15%;}
.wrap-1 header p{ color: #fff; margin-top: 5%;}
.wrap-1 header a{color: #fff;margin-left: 15px; text-transform: uppercase; margin-top: 8%; background: #f64b3c; padding: 15px 50px; border-radius: 50px; display: inline-block; }
.wrap-1 header{ padding-bottom: 10%;}
.wrap-1 header a:hover{transform: scale(1.2);  }
.wrap-1 header a:active{ transform: scale(1); color: rgb(95, 94, 94); }
.wrap-1 button{border: 2px solid #fff;float: right;display: none; background: transparent;width: 65px; margin-top: 20px; border-radius: 10px; }
.wrap-1 .mob-btn span{width: 50px; transition: 0.5s; border-bottom: 1px solid #c4c4c4; display: block; margin: 4px 0; height: 3px; transform-origin: right center;}
.wrap-1 .mob-btn.active span{transform-origin: right center;}
.wrap-1 .mob-btn.active span:nth-child(1){transform: rotate(-14deg); }
.wrap-1 .mob-btn.active span:nth-child(2){ opacity: 0;}
.wrap-1 .mob-btn.active span:nth-child(3){transform: rotate(14deg); }
 

.wrap-2 .container{ background: url('../images/background-2.jpg') no-repeat center/cover; }
.wrap-2 .our-chef { text-align: center;}
.wrap-2 .our-chef h2{margin-top: 90px; text-transform: capitalize;color: #f64b3c; font-size: 40px;}
.wrap-2 .our-chef p{margin-top: 50px; color: #f64b3c;}
.wrap-2 .founder {display: flex; justify-content:space-evenly; text-align: center; margin-top: 70px; padding-bottom: 120px;}
.wrap-2 .our img{ border-radius: 100px; height: 150px;}
.wrap-2 .our:hover{ transform: scale(1.4);  }
.wrap-2 .our h4{margin-top: 20px; color: #f64b3c;}
.wrap-2 .our p{margin-top: 20px; color: #f64b3c;}

.wrap-3 .container{padding-top:120px ; background: #f64b3c; }
.wrap-3 .best{text-align: center;}
.wrap-3 img{border-radius: 500px;width: 70%;  margin-bottom: 90px;}
.wrap-3 img:hover{transform: scale(1.1);}
.wrap-3 h2{color: #fff; font-size:40px ; text-transform: capitalize;  margin-top: 50px;}
.wrap-3 p{color: #fff; margin: 40px 0 60px 0;}
.wrap-3 a{ background: #fff; color: #f64b3c; text-transform: uppercase; display: inline-block; padding: 10px 30px; border-radius: 50px;}
.wrap-3 .col-6 a:hover{transform: scale(1.2); margin-left: 20px;}
.wrap-3 .col-6 a:active{color: rgb(95, 94, 94); /*transform: scale(1);*/ }

.wrap-4 .container{background: url('../images/big-background-3.jpg') no-repeat center/cover;}
.wrap-4 .big{margin: 200px 0 0 0 ; padding-bottom: 140px;}
.wrap-4 .big h2{color: #f64b3c; font-size:40px ; text-transform: capitalize;  margin-top: 50px;}
.wrap-4 .big p{ color: #f64b3c; margin: 50px 0 70px 0px;}
.wrap-4 .big a{background: #f64b3c; color: #fff; border-radius: 50px; padding: 10px 30px; display: inline-block;}
.wrap-4 .big a:hover{transform: scale(1.2);}
.wrap-4 .big a:active{ color: rgb(95, 94, 94);}
.wrap-4 .big-1{text-align: center;}
.wrap-4 .big-1 img{ border-radius: 500px; width: 70%; margin-top: 150px; }
.wrap-4 .big-1 img:hover{transform: scale(1.2);}
 
.wrap-5 .container{background: #f64b3c; padding-top: 80px;  }
.wrap-5 .stat{text-align: center;}
.wrap-5 .stat h3{ color: #fff; font-size: 30px;}
.wrap-5 .stat p{ color: #fff;  margin: 40px 0 60px 0;}
.wrap-5 .circle{display: flex; justify-content: space-around; color: #fff; padding-bottom: 150px;}
.wrap-5 .circle .cir{height: 200px ; width: 200px; border-radius: 100px; border: 3px solid #fff; text-align: center;}
.wrap-5 .circle  .cir h2 {font-size: 70px;  margin-top: 40px; display: block; }
.wrap-5 .circle .cir p{font-size: 25px;}
.wrap-5 .circle .cir:hover{transform: scale(1.2);}

.wrap-6 .container{background: url('../images/background-4.jpg') no-repeat center top/cover; padding-bottom: 30px;}
.wrap-6 .popular{display: flex; justify-content: space-around;}
.wrap-6 .popular h2{margin-top: 80px; color: #f64b3c; font-size: 40px;}
.wrap-6 .package{display: flex; justify-content: space-between; text-align: center; margin-top: 30px;}
.wrap-6 .package .col-4{background: #fff;  margin: 50px ; border-radius: 5px; padding-bottom: 40px;}
.wrap-6 .package .col-4 h3{margin: 15px 0 20px 0; color: #f64b3c; font-size: 30px;}
.wrap-6 .package .col-4 p{color: #f64b3c; margin-bottom: 15px;}
.wrap-6 .package .col-4 a{background: #f64b3c; color: #fff; padding: 10px 30px; border-radius: 50px; display: inline-block;}
.wrap-6 .package .col-4 a:hover{transform: scale(1.2);}
.wrap-6 .package .col-4:hover{transform: scale(1.1);}
.wrap-7 .container{ background: url('../images/background-5.jpg') no-repeat center top/cover ;text-align: center; }
.wrap-7 .container .tr{ background-color: rgba(247, 125, 125, 0.7); margin: 0 -15px; display: block;}
.wrap-7 .container .col-6 p{margin-top: 280px; color: #fff;}
.wrap-7 .container .col-6 strong{ margin: 180px 0 240px 0; color: #fff; display: inline-block; font-size: 40px;}

.wrap-8 .container{background: url('../images/background-6.jpg')  ;}
.wrap-8 .update{text-align: center; margin: 220px 0 200px;}
.wrap-8 .update h2{color: #f64b3c; font-size: 50px;}
.wrap-8 .update p{color: #f64b3c; margin-top: 40px;}
.wrap-8 .update input{ border: none; padding: 10px; border-radius: 50px 0 0 50px; background: #fff; width: 66%; margin-top: 70px;}
.wrap-8 .update input:active{border:  1px solid red;}
.wrap-8 .update button{border: none; padding: 10px; border-radius: 0 50px 50px 0; background: #f64b3c; color: #fff; width: 25%;}
.wrap-8 .update button:active{color: rgb(247, 123, 123);}

.wrap-9 .container{background: #222222;}
.wrap-9 .title{display: flex; justify-content: space-around; padding-bottom: 100px;}
.wrap-9 .title h3{color: #fff; margin: 200px 0px 30px 0;}
.wrap-9  .social a{margin:-30px 0 80px 5px; width: 40px ; height: 40px; color: #000; display: inline-block; padding: 5px;text-align: center; background: #fff; border-radius: 50px; font-size: 22px;}
.wrap-9 .title .col-4 a:hover{color: #f64b3c; transform: scale(1.2);}
.wrap-9 .title p{color: #c4c4c4;  }
.wrap-9 .title a{color: #c4c4c4; margin: 5px 0px; display:  inline-block;}
.wrap-9 .social a{color: #000; margin: 5px 0px; display:  inline-block;}
.wrap-9 .social{padding: 20px;}
.wrap-9  a:hover{color:#f64b3c;}

.wrap-10 .footer-button{text-align: center; margin-top: 10px;}
.wrap-10 .footer-button a {background: rgb(243, 52, 116);border-radius: 12px;border: none;padding: 0; outline-offset: 4px; display: inline-block; }
.wrap-10 .footer-button .pushable .front {display: block;padding: 12px 42px;border-radius: 12px;font-size: 1.25rem;background: hsl(345deg 100% 47%);color: white;transform: translateY(-6px); }
.wrap-10 .footer-button .pushable:active .front {transform: translateY(-2px);}
.wrap-10 .footer-button .pushable:hover .front { transform: translateY(2px);}
.wrap-10 .footer-button .pushable:active .front { transform: translateY(-2px);}


@media screen and (max-width:1220px) {
    .container{width: 980px;}
    /* .col-des-2{width: 16.66%;}
    .col-des-4{width: 33.33%;}
    .col-des-6{width: 50%;}
    .col-des-8{width:  66.66%;}
    .col-des-12{width: 100%;} */
}
@media screen and (max-width:1030px) {
    .container{width: 767px;}
    .col-tab-2{width: 16.66%;}
    .col-tab-4{width: 33.33%;}
    .col-tab-6{width: 50%;}
    .col-tab-8{width:  66.66%;}
    .col-tab-10{width:  83.33%;}
    .col-tab-12{width: 100%;}
    .wrap-1 .navbar ul a{font-size: 13px;}
    .wrap-1 h1 {font-size:300% ;}
    .wrap-3 a{margin-bottom: 20px;}
.wrap-15 .footer-button .f-btn{margin:10px 0 ;}
     
}

@media screen and (max-width:770px) {
    .container{width: 100%;}
    .col-ltab-2{width: 16.66%;}
    .col-ltab-4{width: 33.33%;}
    .col-ltab-6{width: 50%;}
    .col-ltab-8{width: 66.66%;}
    .col-ltab-10{width: 83.33%;}
    .col-ltab-12{width: 100%;}
    .wrap-6 .package{flex-wrap: wrap;}
    .wrap-8 .update form {width: 130%; margin-left: -70px;  }
    .wrap-8 .update form button{font-size: 12px;}
     .wrap-1 .navbar{display: none;}
    .wrap-1 button{display: block;}
    .wrap-1 .navbar ul{flex-direction: column; text-align: center; }
    .wrap-1 .navbar ul li{ margin: 10px 0; }
    
    
}
@media screen and (max-width:481px) {
    .container{width: 100%;}
    .col-mp-4{width: 33.33%;}
    .col-mp-6{width: 50%;}
    .col-mp-8{width:66.66%;}
    .col-mp-10{width: 83.33%;}
    .col-mp-12{width: 100%;}
    /*.wrap-1 .navbar{display: none;}*/
    /*.wrap-1 button{display: block;}*/
    /*.wrap-1 .navbar ul{flex-direction: column; text-align: center; }*/
    /*.wrap-1 .navbar ul li{ margin: 10px 0; }*/
    .wrap-1 header {width: 150%;}
    .wrap-1 header h1{font-size: 40px;}
    .wrap-2 .founder{flex-direction: column;}
    .wrap-2 .founder img:hover{transform: scale(1.1);}
    .wrap-2 .founder .our{margin-bottom: 50px;}
    .wrap-3 .row{flex-direction: column; width: 100%;}
    .wrap-3 .best img{width: 130%;}
    .wrap-4 .row{flex-direction: column-reverse; width: 100%; justify-content: center;}
    .wrap-4 .big-1 img{width: 130%;}
    .wrap-5 .stat{width: 100%;}
    .wrap-5 .circle{ width: 100%; flex-wrap: wrap;}
    .wrap-5 .circle .cir{width: 150px; height: 150px;}
    .wrap-5 .circle .cir h2{font-size: 50px; margin: 15px 0 0 0;}
    .wrap-6 .package{width: 100%; flex-direction: column;}
    .wrap-8 .update form {width: 100%; margin-left: -70px;  }
    .wrap-8 .update form button{font-size: 12px;}
    .wrap-8 .update h2{font-size: 30px;}
    .wrap-9 .title{ font-size: 12px;}
    .wrap-9 .social a{font-size: 12px; width: 25px; height: 25px;}
    .wrap-10 .footer-button .pushable .front  {font-size: 0.7rem;}
    .wrap-10 .footer-button  a{padding:  0px; margin: 0px 0;}
    .wrap-10 .footer-button .f-btn{margin:10px 0 ;}
    


}

