*, ::after,::before{margin: 0; box-sizing: border-box; }

a{text-decoration: none; font-family: msb;}
img{vertical-align: bottom;}
iframe{border: none;}
[disabled]{cursor: not-allowed;}
button{cursor: pointer;}
body{margin-bottom: 40px;}
@font-face {
    font-family: ftgr;
    src: url(../fonts/FrederickatheGreat-Regular.ttf);
}
@font-face {
    font-family:gbl ;
    src: url(../fonts/Gabelisa.woff2);
}
@font-face {
    font-family:msb ;
    src: url(../fonts/Montserrat-Bold\ \(2\).woff2);
}
@font-face {
    font-family:msr ;
    src: url(../fonts/Montserrat-Regular\ \(1\).woff2);
}
 .container{width: 1250px; margin: auto; padding: 0 15px;}
.row{margin: 0 -15px;}
.row::after{content: ""; display: block; clear: both;}

strong,small,button{font-family: msb;}
p{font-family: msr;}
h1,h2,h3,h4,h5{font-family: ftgr;}

.col-1{width: 8.33%; float: left;padding: 0 15px; min-height: 1px;}
.col-2{width: 16.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-3{width: 25%; float: left; padding: 0 15px; min-height: 1px;}
.col-4{width: 33.33%; float: left; padding: 0 15px; min-height: 1px;}
.col-5{width: 41.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-6{width: 50%; float: left; padding: 0 15px; min-height: 1px;}
.col-7{width: 59.33%; float: left; padding: 0 15px; min-height: 1px;}
.col-8{width: 66.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-9{width: 75%; float: left; padding: 0 15px; min-height: 1px;}
.col-10{width: 83.33%; float: left; padding: 0 15px; min-height: 1px;}
.col-11{width: 91.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-12{width: 100% ; float: left; padding: 0 15px; min-height: 1px;}

/* .wrap-1 .back{background: url(../images/img-1.jpg); padding-top: 40px;} */
.wrap-1 {background: url('../images/Background.jpg') no-repeat center top ; padding-top: 20px;}
.wrap-1 .call{float: right; text-align: center;margin-top: -50px; }
.wrap-1 .call strong{font-size: 25px;}
 
.wrap-1 span{float:right; font-size: 40px; margin:-20px 0 0 20px; }
.wrap-1 a{ color: #000; }
.wrap-1 a:hover{background: green; color: yellow; transform: scale(1.3);}
.wrap-1 .menu{margin: 35px 0px ; float: right;    }
.wrap-1 .menu a{ margin: 0px 5px; padding: 10px 20px;display: inline-block; text-transform: uppercase; font-size: 20px; border-radius: 10px; }
.wrap-1 .menu a:hover{transform: scale(1.2);}
.wrap-1 .menu a:active{color: red;}
.wrap-1 .heading {margin-top: 100px; text-align: center;}
.wrap-1 .gbl p{font-family: gbl; font-size: 35px;}
.wrap-1 .heading h1{font-size: 80px; margin-top: 40px;}
.wrap-1 .heading .let {text-transform: uppercase; margin: 40px  0;}
.wrap-1 .heading .let h2{font-size:15px ;margin-left: 150px; }
.wrap-1 .heading hr{margin: 40px 0px 40px 150px; width: 300px; border: 2px solid #ccb301;}
.wrap-1 .heading h3{float: left; text-transform: uppercase;margin-left: 180px; }
.wrap-1 .heading h2{margin-right:  170px; font-size: 40px; }
.wrap-1 .heading .now{margin-bottom: 350px;}
.wrap-1 .heading .now a{margin: 20px; padding: 10px 20px; border: 2px solid #000 ;text-transform: uppercase; display:inline-block;}
.wrap-1 .heading .now a:active{color: red;}
.wrap-1 .palet img{margin: 0% 0 0 10%; width: 90%;  height: auto; }
.wrap-1 .w1-side{margin-top:-490px ; margin-left: -110px;}
 
.wrap-1 .mob-btn button{width: 65px; background: transparent; border: 2px solid#000; border-radius: 10px; float: right;padding: 5px;}
.wrap-1 .mob-btn button span{border-bottom: 2px solid green; width: 50px; transition: 0.5s; height: 2px; margin:2px 0; display: block; transform-origin: right center; transition: 300ms;}
.wrap-1 .btn.active span{transform-origin: right center;}
.wrap-1 .btn.active span:nth-child(1){transform: rotate(-14deg);}
.wrap-1 .btn.active span:nth-child(2){opacity: 0;}
.wrap-1 .btn.active span:nth-child(3){transform: rotate(14deg);}
.wrap-1 .btn{display: none;}
.wrap-1 .scroll #mybtn{position: fixed; bottom: 20px ; right: 30px; z-index: 99; background: rgba(0, 0, 0, 0.1); color: green; padding: 10px; font-size: 18px; border: none; border-radius: 10px;}
.wrap-1 .scroll #mybtn:hover{color: yellow; background: green;}
.wrap-1 .scroll .hide{transform: scale(0, 0);}


.wrap-2 .choose{text-align: center; margin-top: -150px;}
.wrap-2 .choose h2{text-transform: uppercase; font-size: 35px;}
.wrap-2 .choose p{margin: 30px;line-height: 30px;}
 
.wrap-3{background: url(../images/back_img-2.jpg) no-repeat center; margin-top: 100px; height: 100px;}
.wrap-3 .enjoy{margin-top: -110px; text-align: center;}
.wrap-3 .enjoy img{ width: 90%; height: 90%;}
.wrap-3 .enjoy img:hover{transform: scale(1.1);}
.wrap-3 .enjoy .i1{width: 95%; height: 95%;}
.wrap-3 .enjoy strong{text-transform: uppercase;}
.wrap-3 .enjoy p{margin-top: 20px;}
.wrap-3 .enjoy a{color: #000; background: #ffe001; margin-top: 35px; padding: 10px 20px; display: inline-block; text-transform: uppercase; }
.wrap-3 .enjoy a:hover{transform: scale(1.2);}
.wrap-3 .enjoy a:active{color:red;}

.wrap-4 .dis{ text-align: center; margin-top: 130px;  }
.wrap-4 .dis strong{text-transform: uppercase;}
.wrap-4 .dis h2{text-transform: uppercase; margin-top: 15px;}
.wrap-4 .dis p{margin: 30px;}

.wrap-5{margin-top: 60px; } 
/* .wrap-5 .homeslider{width: 10; margin: auto;} */
.wrap-5 .homeslider img{width: 350px; height: 250px; }
.wrap-5 .homeslider .slick-center img{transform: scale(1.3);}
.wrap-5 .slide{margin: 20px;}
.wrap-6 .try{margin-top: 100px; position: relative;  transition: all 6s; overflow: hidden; width: 90%; height: auto;}
.wrap-6 .try span{width: 100%; position: absolute; background: rgba(0, 0, 0, 0.2);transform: rotate(90deg);   height: 90%; margin-top: 6.5%; padding-top: 200px; text-align: center; display: none;}
.wrap-6 .try a{padding: 7px 15px; color: #fff; border: 2px solid#fff;     }
.wrap-6 .try a:hover{background: green;color: yellow;}
.wrap-6 .try a:active{ color: red;}
.wrap-6 .try:hover span{ display: block; transform: rotate(0deg);}
 
.wrap-6 .t1:hover span{ display: block;}
.wrap-6 img{margin-top: 35px;}

.wrap-7 .table{ padding-top: 80px; text-align: center;}
.wrap-7 .table h2{font-size: 40px;}
.wrap-7 form{margin-top: 30px;}
.wrap-7 input{margin: 10px; padding: 20px; width: 350px;font-size: 20px; border-radius: 5px; border: 1px solid #d7d7d7;}
.wrap-7 button{margin: 10px; padding: 20px; width: 350px;font-size: 20px;  border-radius: 5px; background: #f8da01; text-transform: uppercase; border: none;}
.wrap-7 button:active{color: green;}

.wrap-8{background: url(../images/back_img-3.jpg) no-repeat center; margin-top: 50px;}
.wrap-8 .logo img{ margin-top: 90px;}
.wrap-8 .logo .f{color: #d7d7d7; margin-top: 70px;}
.wrap-8 .logo .f1{color: #d7d7d7; margin-top: 130px; margin-bottom: 70px;}
.wrap-8 .logo .f1 span{float: left; margin: 4px 5px;}
.wrap-8 .social{margin-top: 250px; margin-left: 25%;  }
.wrap-8 .social span{ color:#ffe001; float: left; margin-right: 20px;}
.wrap-8 .social address{color: #d7d7d7; }
.wrap-8 .social p{color: #d7d7d7;  }
.wrap-8 .social .f2{margin-top: 10px;}
.wrap-8 .social-2{margin-top: 140px; text-align: center;}
.wrap-8 .social-2 span{ background: #fff; margin: 0px 6px 80px 0; padding: 10px; border-radius: 50px;}
.wrap-8 .social-2 a{color: #000;}
.wrap-8 .social-2 a span:hover{transform: scale(1.2); color: red;}
.wrap-9 .footer-link{ text-align: center; margin-top: 10px;}
:root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
     .wrap-9 .footer-link a{
    position: relative;
    display: inline-block;
    transition: all 0.9s;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
  }
  .wrap-9 .footer-link a:hover{transform: scale(1.1);} 
  .wrap-9 .footer-link a.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
 .wrap-9 a.big-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
 .wrap-9 a.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
 .wrap-9 a.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
 .wrap-9 a.big-button:active {
    transform: translate(0em, 0.75em);
  }
  
 .wrap-9 a.big-button:active::before {
    transform: translate3d(0, 0, -1em);
  
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  }
  




@media screen and (max-width:1270px){
    .container{ width: 1080px;}
    .col-des-4{width: 33.33%;}
    .col-des-8{width: 66.66%;}
}

@media screen and (max-width:1030px) {
    .container{width: 100%;}
      .col-tab-4{width: 33.33%;}
      .col-tab-5{width: 41.66%;}
      .col-tab-6{width: 50%;}
      .col-tab-7{width: 55.33%;}
      .col-tab-8{width: 66.66%;}
      .col-tab-12{width: 100%;}
      .wrap-1 .heading  h1{font-size: 60px;}
      .wrap-1 .heading .let h2{margin: 0;}
      .wrap-1 .heading hr{margin-left: 20px;}
      .wrap-1 .heading h3{margin-left: 20px;}
      .wrap-1 .heading h2{margin: 0;}
    .wrap-5 .slide img{width: 100%; height: 200px;}
      .wrap-6 .try img{width: 100%; height: auto;}
      .wrap-6  img{width: 100%; height: auto;}
      .wrap-8 .social{margin: 250px 0 0 50px;}
      .wrap-3 .enjoy{margin: -40px 0 60px 0; text-align: center; }
      /* .wrap-3 .enjoy img{float: left;} */
      .wrap-3{background: none;}
      .wrap-1 .scroll{display: none;}
  
}
@media screen and (max-width:1200px) {
    .container{width: 100%;}
     
    .wrap-6 .try img{width: 100%; height: auto;}
    .wrap-6  img{width: 100%; height: 50%;}
    .wrap-5 .slide img{width: 100%; height: 200px;}
    

}


@media screen and (max-width:780px) {
    .container{width: 100%;}
    .col-tab-4{width: 33.33%;}
      .col-tab-5{width: 41.66%;}
      .col-tab-6{width: 50%;}
      .col-tab-7{width: 55.33%;}
      .col-tab-8{width: 66.66%;}
      .col-tab-12{width: 100%;}
      .wrap-1 .logo img{width: 35%;}
      .wrap-1 .gbl p{font-size: 25px;}
      .wrap-1 .heading  h1{font-size: 50px;}
      .wrap-1 .heading hr{margin: 0 0 20px 0px;}
      .wrap-1 .menu a{font-size: 12px; padding: 5px 10px; margin: 0 5px;}
      .wrap-3 .enjoy{margin: -40px 0 60px 0; text-align: center; }
      /* .wrap-3 .enjoy img{float: left;} */
      .wrap-3{background: none;}
      .wrap-5 .slide img{width: 100%; height: 150px;}
    .wrap-6 .try img{width: 100%; height: auto;}
      .wrap-6  img{width: 100%; height: 50%;}
      .wrap-8 .social{margin: 250px 0 0 10px;}
      .wrap-9 .footer-link a{margin-bottom: 30px;}
 
}

@media screen and (max-width:480px) {
  body{margin-bottom: 50px;}
    .container{width: 100%;}
    .col-mob-2{width: 16.66%;}
    .col-mob-5{width: 41.66%;}
    .col-mob-6{width: 50%;}
    .col-mob-7{width: 58.33%;}
    .col-mob-10{width: 83.33%;}
    .col-mob-12{width: 100%;}
    .wrap-1 .menu{display: none; float: none; text-align: center;}
    .wrap-1 .logo img{width: 40%;}
    .wrap-1 .call strong{font: 14px;}
    .wrap-1 span{font-size: 16px;}
    .wrap-1 .call small {font-size: 10px; margin-right: 15px;}
    .wrap-1 .call  strong{font-size: 12px;}
    .wrap-1 .call  span{font-size: 20px; margin-right: -10px;}
    /* .wrap-1 .menu a{font-size: ;} */
    .wrap-8 .logo img{width: 80%;}
    .wrap-3 { background: none;}
    .wrap-3 .enjoy{margin-top: 40px; text-align: center;}
    .wrap-3 .enjoy img{width: 65%; height: 150px; display: block; margin-left: 20%;}
    .wrap-3 .enjoy .i1{width: 57%; height: auto;}
    .wrap-5 .slide img{width: 90px; height: 100px; margin: 0;}
    .wrap-6 .try {margin-top: -20px; text-align: center;}
    .wrap-6 .try img{width: 100%;}
    .wrap-8 .logo .f1{margin-top: 50px;}
    .wrap-8 .social{margin: 0;}
    .wrap-8 .social-2 {margin-top: 30px;}
    .wrap-1 .btn{display: block;}
    .wrap-1 .palet img{margin: -280px 0px 0px 30px; float: right; display: block; width: 70%; height: auto;}
    .wrap-2 {padding-top: 200px;}
    .wrap-8 .logo img{width: 200px; height: auto;}
    .wrap-9 .footer-link a{font-size: 0.6rem;}
    .wrap-9 .footer-link a.big-button{padding: 0.5rem 1rem;}
    .wrap-7 form input{width: 85%;}
    .wrap-7 form button{width: 85%;}

}
@media screen and (max-width:400px) {
    .container{width: 100%;}
    .wrap-1 .palet {display: none;}
    .wrap-2 .choose{margin-top: 10px;}
}


















